.order{
  width: 1000px;
}
.order-form{
  width: 400px;
}
input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid grey;
    padding: 10px 15px;
    font-size: 14px;
  }

  label {
  line-height: 2;
  text-align: left;
  display: block;
  color: black;
  font-size: 14px;
  font-weight: 300;
}
form span{
  color: red;
}

input[type="submit"] {
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

input[type="submit"]:hover {
  background: #bf1650;
}

input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}