.testimonial-card {
    box-shadow: 5px 5px 15px lightgrey;
    border-radius: 8px;
    width: 28%;
    height: 100%;
    padding: 20px;
    margin: 2%;
}
.testimonial-image img{
    width: 40%;
    height: 130px;
    margin-bottom: 15px;
    border-radius: 50%;
}

@media (max-width: 767.98px) { 
    .testimonial-card{
        width: 100%;
    }
 }
@media (max-width: 575.98px) { 
    .testimonial-card{
        width: 100%;
    }
 }